
.al {
  padding-top: 15px;
  text-align: center;

  
  // margin: 15px;
  // padding: 20px;
  color:rgb(0, 0, 0) ;
  }
  .bg-div{
  
    background-color:rgba(228, 250, 140, 0.99);
  
    box-shadow: 30px 30px 30px rgba(226, 81, 23, 0.212);
    
    }
    .bg-tabla{
      background-color:transparent;
      
      
      }
  
  table {
    width: 100%;
    background-color:transparent;
   
  }
  th, td{
    width: 20%;
    color: rgb(0, 0, 0);
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
    height: 100%;
  }
  
  button {
   display: block;
   margin-bottom: 10px;
  
  }
  
  .mat-header-cell  {
    background-color:  rgba(104, 77, 239, 0.77);
  
    color: rgb(0, 0, 0);
  }
  
  .acciones {
  display: flex;
  flex-direction: row;
  justify-content: center;
  }
  

  
  .agregar {
  margin-left: 10%;
  padding: 10px;
  }
  