.body {
  background-image: linear-gradient(to top, #1b1f25, #1c273f, #272d58, #3f306e, #602c7e);
}
.login form{
  display: flex;
  background-color: rgba(250, 235, 215, 0.548);

  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
  color: antiquewhite;
  border: 2px solid antiquewhite;
  height: 450px;
  width: 300px;

}
.ancho{
    width: 80%;
}
.spinner{
    margin: 0 auto;
   
}


mat-form-field {
    width: 90%;
  }



.example-spacer {
  margin: 21.8%;
}

.example-section {
  margin: 12px 0;
}

.example-margin {
  margin: 0 12px;
}

ul {
  list-style-type: none;
  margin-top: 4px;
}

.tit {
  letter-spacing: 3px;
  border-bottom: 1px solid rgb(255, 255, 255);
}

img {
  width: 300px;
  height: 300px;
}

button {
  margin-bottom: 15px;
}
