.contenedor{
   height: 100%;
    background-image: linear-gradient(to top, #868b92, #768ca8, #638cbe, #498cd5, #128beb);
    background-size: cover;
}
.bg-barra{
  background-color: rgba(5, 215, 113, 0.833);
}
.boton{
  background-color: rgba(105, 153, 237, 0.774);
}
.sidenav a {
  color: #fff;
}
.sidenav i {
  padding-right: 10px;
}

.side {
  display: flex;
  flex-direction: column;
}
.altura{
  height: calc(100% - 64px);
}


